/*  your css code here. If applicable */
.container {
	border: 5px solid black;
	border-radius: 50px;
	padding: 60px;
	background-color: #d3d3d3;
	display: flex;
	justify-content: space-around;
}
.block {
    display: inline-block;
    width: 1000px;
    height: 130px;
    border-radius: 50%;
	margin: 10px;
}
.green {
	background-color: green;
}
.yellow {
	background-color: yellow;
}
.red {
	background-color: red;	
}

